* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.navbar {
    background: #000000;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

#navbar__logo {
    margin-right: 30vw;
    margin-right: 30vw;
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #000000;
}

.navbar__menu.active {
    background: #000000;
    left: 0%;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 80vh;
    font-size: 1.6rem;
    width: 100%;
}

.navbar__toggle .bar {
    width: 50px;
    height: 6px;
    margin: -2px auto 10px auto;
    transition: all 0.5s ease-in-out;
    background: #fff;
}

.navbar__item {
    list-style: none;
    width: 100%;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

.navbar__links:hover {
    color: #4b7894;
    transition: all 0.5s ease-in-out;
}

#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient( to top, #bc55e6 0%, #6f009c 100%);
    color: #fff;
}

.button:hover {
    background: #6f009c;
    transition: all 0.5s ease-in-out;
}


.navbar__btn {
    list-style: none;
    padding-bottom: 1rem;
}

.button {
    text-align: center;
    display: table;
    width: 80%;
    height: 80px;
    margin: 0;
    padding: 2rem;
}

.navbar__toggle .bar {
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}  

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
}

