* {
    font-family: "Cherry Bomb One", cursive;
}


body{
    background-color: black;
    padding: 3vh 7vw;
    overflow: 0;
    padding: 5vh 5vw;
}

a {
    text-decoration: none;
    background: -webkit-linear-gradient(#7400e0, #c104e7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1vw;
}

#text {
    height: 90vh;
    width: 90vw;
    opacity: 1;
}

.word {
    color: white;
    font-size: 7.5vw;
    font-family: "Cherry Bomb One", cursive;
    margin: 0rem;
    transition: 800ms ease;
    padding-right: 5vw;
}
.word .fancy {
    opacity: 1;
}

.line {
    display: flex;
    justify-content: center;
    opacity: 1;
}

#Email-link {
    background: linear-gradient(0, rgb(255, 123, 0), rgb(253, 30, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1vw;
}


#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}

.fancy > .letter {
    margin: -1rem;
    display: inline-block;
    transition: transform 350ms ease;
}

.fancy:hover > .letter {
    transition: 800ms;
}

.fancy:hover > .letter:nth-child(1) {
    transform: translate(5%, 20%) rotate(10deg);
}
.fancy:hover > .letter:nth-child(2) {
    transform: translate(-5%, 15%) rotate(-14deg);
}
.fancy:hover > .letter:nth-child(3) {
    transform: translate(16%, 0%) rotate(1deg);
}
.fancy:hover > .letter:nth-child(4) {
    transform: translate(8%, -2%) rotate(-8deg);
}
.fancy:hover > .letter:nth-child(5) {
    transform: translate(15%, -14%) rotate(6deg);
}
.fancy:hover > .letter:nth-child(6) {
    transform: translate(-2%, 16%) rotate(-10deg);
}
.fancy:hover > .letter:nth-child(7) {
    transform: translate(-5%, -20%) rotate(2deg);
}
.fancy:hover > .letter:nth-child(8) {
    transform: translate(14%, 0%) rotate(8deg);
}

