:root {
    background-color: rgb(20, 20, 20);
    margin: none;
    padding: none;
}

body {
    display: block;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
}
  

  ::-webkit-scrollbar-thumb {
    background-color: #8c00dc;
    border-radius: 0.25vw;
  }
  

::-webkit-scrollbar-track {
    background-color: #c1fdde;
}

.navbar_container{
    margin: 0px;
    background: black;
    height: 10vh;
    display: flexbox;
    margin-bottom: 3rem;
    padding: 1rem;
}

#navbar_logo {
    width: 25vw;
    padding: 0px;
    margin: 0px;
}

.navbar_logo {
    height: 10vh;
}

.navbar_items {
    width: 20vw;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}